*{
	padding: 0px;
	margin:0px;
}
body{
	font-family: Arial;
	font-size: 14;
	background-color: #F4F4F4;
}

#cabecera{
	width: 100%;
	background-color: #F9245E;
	border-bottom: 1px solid #000;
	margin: auto;
	padding: 10px;
}

#contenido{
	width: 800px;
	background-color: #FFF;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 10px;
	margin: auto;
}

#pie{
	width: 100%;
	background-color: #F9245E;
	border-top: 1px solid #000;
}